<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <!-- Custom styles for this template -->
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% endblock %}
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
<header class="app-header navbar">
    <a class="navbar-brand" href="{{ path('home') }}">
        <img class="navbar-brand-full" src="/logo.png" width="160" height="35" alt="Logo">
    </a>
</header>
<div class="app-body">
    <div class="sidebar">
        <nav class="sidebar-nav">
            {{ knp_menu_render('sidebar', {'currentClass': 'active'}) }}
        </nav>
        <button class="sidebar-minimizer brand-minimizer" type="button"></button>
    </div>
    <main class="main">
        {% block breadcrumbs %}{% endblock %}
        <div class="container-fluid">
            {% include '_flashes.html.twig' %}
            {% block body %}{% endblock %}
        </div>
    </main>
</div>
<footer class="app-footer">
    <div>
        <span>© {{ "now"|date("Y") }} Vyach Ivanchenko</span>
    </div>
</footer>
{% block javascripts %}

{% endblock %}
</body>
</html>